<template name="Header">


  <header>
    <div class="pure-g">
      <div class="pure-u-5-24"></div>
    <div class="pure-u-14-24"><p></p>
    <div class="dropdown" style="float:left;">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content" style="left:0;">
        {{#if currentUser}}
        <a href="/profile"><i class="fa fa-list"></i>  Profile</a>
        <a href="/project/new"><i class="fa fa-plus"></i>  Add Project</a>
        {{/if}}
        <a href="/projects"><i class="fa fa-snowflake-o"></i>  View Projects</a>

      </div>
    </div>
    <h1 align="center">I'm In:<small> Your local collaboration hub</small></h1>
    {{> loginButtons}}
    {{> email}}
  </div>
  <div class="pure-u-5-24"></div>
  </div>
  </header>



</template>
