

.dropbtn {
    background-color: #CDCDCD;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #D9D9D9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #57BC90;
}


#listing-box {
  border-style: solid;
  border-width: 5px;
}

#profileMap{
  border-width: 3px;

}


#map {
        height: 50%;
      }

.map-canvas{
  height: 20px;
  width: 20px;

}


.home-menu li {
  display: inline;
}

.header-experiment {
  background: yellow;
}


li {
  list-style: none;
}

.pure-button {
  background-color: #2d3e50;
}

.pure-button-small a:hover, .pure-button-small a:focus {
    color: #2d3e50;
    background-color: #2d3e50;
    color: white;
    padding: 0.5em 2em;
    margin: 1px;
    border-radius: 5px;
}

.home-menu li a:hover, .home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

button {
  background-color: #AECFE5;
  border: none;
}

.pure-u-1-2 {
  width: 47%;
}


#pretty-box {
    border-style: solid;
    border-width: 1px;
    margin: 15px;
  }

.content {
  margin-left: auto;
  margin-right: auto;
}



.pure-menu-list{

  height: 100%

}


.pure-u-20-24{
  padding-left: 5% ;
  height: 100%
}

.pure-u-5{
  margin-left: auto;
  margin-right: auto;
}


.listing-list-items {
  padding-left: 5px;
}

.flash {
    text-align: center;
    padding:	.3em .4em;
    margin:		2px auto .5em;
    clear:		both;
    max-width:	46.923em; /* 610/13 */
    *max-width:	45.750em; /* 610/13.3333 - for IE */
}

.errors {
    text-align: center;
    padding:	.3em .4em;
    margin:		0 auto .5em;
    clear:		both;
    max-width:	46.923em; /* 610/13 */
    *max-width:	45.750em; /* 610/13.3333 - for IE */
}
